<div class="home">
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      <div class="owl-item home_slider_item">
        <div class="home_slider_content text-center">
          <div class="home_slider_content_inner">
            <h1><%= t("home_pages.home.discover") %></h1>
            <h1><%= t("home_pages.home.world") %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
